:root {
  --primary-color-light: #faf4ea;
  --primary-color-dark: #31261a;
  --color-secondary-dark: #a18268;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v21-latin-800.woff2") format("woff2");
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
body {
  color: var(--primary-color-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background: var(--primary-color-light);
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.accent {
  color: var(--color-brand-light);
}
.uppercase {
  text-transform: uppercase;
}
.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}
/* buttons */
.button {
  font-weight: 600;
  font-size: inherit;
  width: 238px;
  height: 59px;
  padding: 16px 32px 16px 32px;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  line-height: 1.5;
  color: var(--primary-color-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
/* menu */
.menu {
  flex-grow: 1;
}
.menu-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}
/* links */
.link {
  color: var(--primary-color-light);
}
.link:hover {
  color: var(--color-brand-light);
}
.section {
  padding: 48px 0;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
}

/* header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
/* hero */
.hero-section {
  padding: 272px 0;
  text-align: center;
  background-image: url("../img/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--primary-color-light);
  font-size: 128px;
  letter-spacing: 4px;
}

/* advantages */
.advantages-section {
  background-color: var(--color-brand-light);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.advantages-item {
  color: var(--primary-color-light);
  font-size: 20px;
  font-weight: 300;
  padding: 16px 10px;
}
/* traditions */
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-containert-text {
  max-width: 710px;
}
.traditions-section {
  padding-top: 96px;
}
.traditions-title {
  line-height: 1.5;
  margin-bottom: 42px;
}
.traditions-text {
  margin-bottom: 24px;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text:last-child {
  max-width: 325px;
}
/* chiefs */
.chiefs-title {
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
}
.chiefs-title::before,
.chiefs-title::after {
  content: " ";
  width: 352px;
  border: 2px solid var(--color-secondary-dark);
  position: absolute;
  bottom: 24px;
}
.chiefs-title::before {
  left: 0;
}
.chiefs-title::after {
  right: 0;
}

.chief-tile {
  font-size: 40px;
  font-weight: 600;
}
.chiefs-list {
  display: flex;
  gap: 30px;
}
.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
  display: flex;
  gap: 30px;
  margin-bottom: 36px;
}
.chefs-text h2,
.chefs-text p {
  margin-bottom: 18px;
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--primary-color-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}
/* format */
.format-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-title {
  text-align: center;
  margin-bottom: 80px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.format-card {
  height: 444px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid gray;
  border-radius: 16px;
  flex-basis: calc((100% - 40px) / 3);
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}
.carousel-button {
  background-color: transparent;
  border: 1px solid var(--primary-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--primary-color-dark);
}
.carousel-button:hover {
  background-color: var(--primary-color-dark);
}
.carousel-button:hover .carousel-arrow {
  fill: var(--primary-color-light);
}

/* contact */
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-form {
  flex-basis: 625px;
}
.contacts-title {
  margin-bottom: 16px;
}
.contract-map {
  flex-shrink: 1;
  border-radius: 16px;
  width: 600px;
  height: 600px;
}
/* footer */
.footer {
  background-color: var(--primary-color-dark);
  background-image: url("../img/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.footer-container {
  padding: 32px 10px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;
}

/* adress */
.address-link {
  color: var(--primary-color-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer-address__list li {
  margin-bottom: 10px;
}
a.address-link {
  margin-bottom: 10px;
}
.address-link:hover {
  color: var(--color-brand-light);
}
.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}
.address-icon {
  fill: var(--primary-color-light);
}
.address-icon:hover {
  fill: var(--color-brand-light);
}
.address-copyright {
  margin-top: 10px;
}
.address-social {
  display: flex;
  gap: 20px;
}

.footer::before,
.footer::after {
  position: absolute;
  content: " ";
  bottom: 0;
  background-repeat: no-repeat;
}

.footer::before {
  width: 180px;
  height: 120px;
  background-image: url("../img/decor-bread-small.png");
}
.footer::after {
  width: 380px;
  height: 190px;
  background-image: url("../img/decor-bread-large.png");
  right: 0;
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 880px;
  height: 880px;
  background-color: var(--primary-color-light);
  border-radius: 32px;
  position: relative;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
